@use 'config.scss' as *;
@use 'sass:string';

.#{$namespace} {
	@each $i in $padding {
		&-p-#{$i} {
			padding: 1rpx * $i;
		}

		&-p-tb-#{$i} {
			padding-top: 1rpx * $i;
			padding-bottom: 1rpx * $i;
		}

		&-p-lr-#{$i} {
			padding-left: 1rpx * $i;
			padding-right: 1rpx * $i;
		}

		@each $p in $direction {
			$n: string.slice($p, 1, 1);

			&-p-#{$n}-#{$i} {
				padding-#{$p}: 1rpx * $i;
			}
		}
	}
}